#weather-title {
    color: white;
    text-shadow: 2px 2px #000;
}

.card-body {
    padding-top: 0;
}

#temps {
    font-size: 2rem;
    color: white;
    text-shadow: 2px 2px #000
}

#temp-text {
    margin-bottom: -10%;
    margin-top: 10%;
    color: white;
    text-shadow: 2px 2px #000
}

#rain-chance {
    border-top: 1px solid #C8C8C8;
    padding-top: 16px;
    font-size: 1.4rem;
    color: white;
    text-shadow: 2px 2px #000
}

#weather-summary {
    border-top: 1px solid #C8C8C8;
    padding-top: 16px;
    font-size: 1.2rem;
    color: white;
    text-shadow: 1px 1px #000
}

#app-name {
    margin-top: 5%;
}

#card-background {
    background: #A5B5D0;
    background: -webkit-linear-gradient(top left, #A5B5D0, #A86DAE);
    background: -moz-linear-gradient(top left, #A5B5D0, #A86DAE);
    background: linear-gradient(to bottom right, #A5B5D0, #A86DAE);
}
